@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

:root {
  --color-dark: #020617;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-dark);
}

// Add background hero pattern

html {
  font-size: 62.5%;
  font-family: sans-serif;
  color: #fff;
  text-align: center;
}

.container,
.footer__copyright--inner {
  max-width: 124.8rem;
  margin: 0 auto;
  padding: 0 1.6rem;

  @media only screen and (min-width: 42.5rem) {
    padding: 0 2.4rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 124.8rem;
  margin: 0 auto;
  padding: 2.4rem;
  background-color: var(--color-dark);

  &__logo {
    font-size: 4.8rem;
    font-family: 'Smooch', cursive;
    cursor: pointer;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 6.4rem;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.2rem;

    &--social {
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }
  }

  &__social-image {
    height: 3.2rem;
    width: 3.2rem;
  }
}
.preview-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.4rem;

  &__image {
    max-width: 24rem;
    margin-bottom: 3.2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
  }

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 300;
  }

  @media only screen and (min-width: 42.5rem) {
    margin-bottom: 6.4rem;
  }
}

.link-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-link {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  padding: 2rem 0;
  border-radius: 100vw;
  margin-bottom: 1.6rem;
  background-color: #6366f1;
  letter-spacing: 0.1rem;
  width: 100%;

  &--copy-link {
    border: 0.2rem solid #fff;
    background-color: transparent;
    cursor: pointer;
  }

  &--view-full-list {
    background-color: transparent;
    cursor: default;
  }

  @media only screen and (min-width: 42.5rem) {
    width: 42rem;
  }
}

.preview-link {
	background-color: #fff;
	color: var(--color-dark);
	cursor: pointer;
	margin-top: 3.2rem;
	display: inline-block;
	position: relative;
  padding: 2rem 3.2rem;
  font-size: 2rem;
  border-radius: 100vw;
  margin: 4.8rem auto;
  letter-spacing: 0.1rem;

  @media only screen and (min-width: 42.5rem) {
    font-size: 2.4rem;
    margin: 3.2rem 0 0;
  }
}

audio {
	display: none;
}

.play-button::before,
.play-button.playing::before {
	content: '';
	display: inline-block;
	border: 0;
  background: transparent;
  width: 0;
  height: 1.6rem;
	margin-right: 1.2rem;
  border-color: transparent transparent transparent var(--color-dark);
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 0.8rem 0 0.8rem 1rem;
}

.play-button.playing::before {
	border-style: double;
  border-width: 0rem 0 0rem 0.8rem;
}

.duration {
  margin-left: 1.2rem;
}

.footer {
  margin-top: 8rem;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
    max-width: 64rem;
    margin: 0 auto;
  }

  &__title {
    font-size: 4rem;
    text-align: center;

    @media only screen and (min-width: 32rem) {
      font-size: 4.8rem;
    }

    @media only screen and (min-width: 76.8rem) {
      font-size: 6.4rem;
    }
  }

  &__email {
    width: 100%;
    margin-bottom: 4.8rem;
  }

  &__email-wrapper {
    display: flex;
    align-items: center;
    margin-top: 4.8rem;
    flex-direction: column;

    @media only screen and (min-width: 42.5rem) {
      flex-direction: row;
    }
  }

  &__copyright {
    font-size: 1.4rem;
    background-color: darken(#020617, 3%);
    padding: 2.4rem 0;
  }
  &__copyright--inner {
    display: flex;
    justify-content: space-between;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 16rem;
  background-color: #fff;
  color: var(--color-dark);
  text-align: center;
  border-radius: 0.8rem;
  padding: 0.8rem;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60%;
  opacity: 0;
  transition: opacity 0.3s;

  @media only screen and (min-width: 42.5rem) {
    width: 24rem;
    margin-left: -90%;
  }
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#email-input {
  padding: 2.4rem;
  flex: 2;
  font-size: 1.8rem;
  border-radius: 100vw;
  border: none;
  color: var(--color-dark);
  width: 100%;
  text-align: center;
  margin-bottom: 1.6rem;

  @media only screen and (min-width: 42.5rem) {
    height: 5.6rem;
    padding: 0 2.4rem;
    border-radius: 50vw 0 0 50vw;
    width: auto;
    text-align: left;
    margin: unset;
  }
}

.copy-button {
  font-size: 1.8rem;
  padding: 2.4rem 3.2rem;
  background-color: #6366f1;
  border: none;
  color: #fff;
  cursor: pointer;
  flex: 1;
  border-radius: 100vw;

  @media only screen and (min-width: 42.5rem) {
    border-radius: 0 50vw 50vw 0;
    height: 5.6rem;
    padding: 0 2.4rem;
  }
}

